body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, rgb(128, 255, 255), #2575fc);
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
}
h1 {
    font-size: 28px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}
.form-group input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.form-group input:focus {
    outline: none;
    border: 2px solid #00e676;
}
.form-actions {
    margin-top: 20px;
}
.form-actions button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #00e676;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-actions button:hover {
    background-color: #00c853;
}
